<div class="container-fluid">
<nav class="navbar navbar-dark bg-dark mb-5">
    <label class="navbar-brand">Cherchez des medicaments par specialites</label>
    <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
            <a class="navbar-nav nav-link"  href="https://twitter.com/NadeemDookhan" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="navbar-nav nav-link"  href="https://ajmaldookhan.com" target="_blank">
              <i class="fa fa-globe"></i>
            </a>
          </div>
    </div> 
  </nav>
  </div>
