
<app-layout>
<div class="container-fluid">
  <br>
  <div class="row">
    <div class="split left">
      <div class="centered">
        <img src="../assets/images/pathologiessmall.jpeg" >
        <br>
        <h2>Liste des spécialités</h2>
        <form [formGroup]="form" >
                <input type="button" class ="btn" formArrayName="pathologiesList" *ngFor="let pathologie of pathologiesList; let i = index" value="{{pathologiesList[i].nom}}" id="{{pathologiesList[i].nom}}" label = "" (click)="getMedicamentByPathology(pathologiesList[i].nom)">
                <br/>
          </form>
      </div>
    </div>
    <div class="split right">
      <div class="centered">
        <img src="../assets/images/medicaments.jpg">
        <br>
        <h2>Liste des médicaments associés</h2>
            <label *ngFor="let medicament of medicamentslist" [ngStyle]="{color: findColor(medicament.denomination)}"(click)= "getMedicamentDetailsByCodeCis(medicament.codeCIS);">  
                {{medicament.denomination}}
                                <br/>
              </label>
      </div>
    </div>
    </div>
</div>
<ngx-spinner
bdOpacity = 0.7
bdColor = "rgba(182,168,168,0.24)"
size = "medium"
color = "#62aaaf"
type = "ball-atom"
fullScreen = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>



