<app-layout>
<div class="container-fluid">
  <br>
  <div class="row">
    
    <div class="split left">
      <div class="centered">
          <div id="flex-container">
          <dl class="slidedeck">
              <div class="container">
                  <img src="../assets/images/pathologiessmall.jpeg" class="img" >
                  <div id ="specialites" class="overlay" (click)="setFormVisibility($event)">
                      <div class="text" >Par spécialité</div>
                    </div>
                  </div>           
          </dl>
          <dl class="slidedeck">
              <div class="container">
               
                  <img src="../assets/images/principesactifs.jpg" class="img" >
                  <div id ="principesactifs" class="overlay" (click)="setFormVisibility($event)">
                      <div class="text" >Par principes actifs</div>
                    </div>
                  </div>           
          </dl>
          </div>
        <form [formGroup]="form" *ngIf="showSpecialites">
                <input type="button" class ="btn" formArrayName="pathologiesList" *ngFor="let pathologie of pathologiesList; let i = index" value="{{pathologiesList[i].nom}}" id="{{pathologiesList[i].nom}}" label = "" (click)="getMedicamentByPathology(pathologiesList[i].nom)">
                <br/><br>
          </form>
          <form [formGroup]="form" *ngIf="showPrincipesActifs">
              <input type="button" class ="btn"  formArrayName="principesActifsList" *ngFor="let principeActif of principesActifsList; let i = index" value="{{principesActifsList[i].nom}}" id="{{principesActifsList[i].nom}}" label = "" (click)="getMedicamentByPathology(principesActifsList[i].nom);getPrincipeActifSummaryByName(principesActifsList[i].nom)">
              <br/><br>
        </form>
      </div>
    </div>
    <div class="split right">
      <div class="centered">
          <dl class="slidedeck"> 
              <img src="../assets/images/medicaments.jpg" width="130" height="130" />
                  </dl>
                  <div *ngIf="showPrincipesActifs" >
                  <label *ngIf="principeActifExists===false">Pas d'informations disponibles sur ce principe actif</label> 
                  <label *ngIf="principeActifExists">{{principeActifSummaryList.extract}}</label>
                 </div>
        <h2>Liste des médicaments associés</h2>
        <div *ngIf="medicamentExists">
            <label *ngFor="let medicament of medicamentslist" [ngStyle]="{color: findColor(medicament.denomination)}"(click)= "getMedicamentDetailsByCodeCis(medicament.codeCIS);">  
                {{medicament.denomination}}
                 <br/>
            </label>
            </div>
            <label *ngIf= "medicamentExists===false">Pas de résultats</label> 
      </div>
    </div>

          
        </div>
        </div>

   
<br>
<br>
    
<ngx-spinner
bdOpacity = 0.7
bdColor = "rgba(182,168,168,0.24)"
size = "medium"
color = "#62aaaf"
type = "ball-atom"
fullScreen = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>




