<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<div class="modal-header">
  <b class="modal-title" id="modal-basic-title">{{medicament.denomination}}</b>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <b></b>
  <!--<input [(ngModel)]="medicament.denomination" type="string"> -->
  <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div class="table100">
              <div class="responsive-table-line" style="margin:0px auto;max-width:700px;">
                  <table class="table table-bordered table-condensed table-body-center" >
  <thead>
    <tr>
      <td>Forme Pharmaceutique</td>
      <td>Voies Administration</td>
      <td>Substances actives</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let m of medicamentsDetailslist;">
      <td>{{m.formePharmaceutique}}</td>
      <td>{{m.voiesAdministration}}</td>
      <td>
        <ng-container *ngFor="let comp of m.compositions">
          <ng-container *ngFor="let sub of comp.substancesActives">
             {{sub.denominationSubstance}} 
          </ng-container>
       </ng-container>
          </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>


</div> 


  
  
  
  




  